@import url("https://fonts.googleapis.com/css?family=Poppins:900,400,600,500,700|400");
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}
.side-bar {
    width: 20%;
    height: 1743px;
    left: 0px;
    top: 0px;
    position: relative;
    background-color: #FFF8EE;
}
.dashboard-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #57381B;
    position: relative;
    top: 6px;
    left: 20px;
    text-decoration: none;
}
.order-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #57381B;
    position: relative;
    top: 6px;
    left: 20px;
    text-decoration: none;
}
.statistic-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #57381B;
    position: relative;
    top: 6px;
    left: 20px;
    text-decoration: none;
}
.beverage-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #57381B;
    position: relative;
    top: 6px;
    left: 20px;
    text-decoration: none;
}
.archive-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #57381B;
    position: relative;
    top: 6px;
    left: 20px;
    text-decoration: none;
}
.login-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #57381B;
    position: relative;
    top: 5px;
    text-decoration: none;

}
.logo-box {
    position:relative;
    top: 20px;
}
.logo-text {
    color: rgba(74,23,22,1);
    position: relative;
    top: 0px;
    left: 40px;
    font-family: Righteous;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.logo-nav-bar {
    width: 40px;
    height: 40px;
    position: relative;
    top: -5px;
    left: 0px;
}
.menu-box {
    width: 100%;
    height: auto;
    left: 0px;
    top: 50px;
    position: relative;
    background-color: #FFF8EE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-box {
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
}
.dashboard-logo {
    width: 27px;
    height: 27px;
    left: 3px;
    top: 4px;
    position: relative;
}
.order-box {
    top: 30px;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
}
.order-logo {
    width: 27px;
    height: 27px;
    left: 3px;
    top: 4px;
    position: relative;
}
.statistic-box {
    top: 60px;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
}
.statistic-logo {
    width: 27px;
    height: 27px;
    left: 3px;
    top: 4px;
    position: relative;
}
.beverage-box {
    top: 90px;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
}
.beverage-logo {
    width: 27px;
    height: 27px;
    left: 3px;
    top: 4px;
    position: relative;
}
.archive-box {
    background: rgba(87, 56, 27, 0.28);
    border-radius: 8px;
    top: 120px;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 35px;
}
.archive-logo {
    width: 27px;
    height: 27px;
    left: 3px;
    top: 4px;
    position: relative;
}
.profile-box {
    position: relative;
    left: 60%;
    display: flex;
    flex-direction: row;
    top: 20px;
    width: fit-content;
    height: fit-content;
}
.logout-logo {
    width: 35px;
    height: 35px;
}
.hello-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #57381B;
    position: relative;
    top: 5px;
}
.menu-table {
    width: auto;
    height: fit-content;
    position: relative;
    top: 139px;
    display: inline;
    right: 80px;
}
.menu-edit-box {
    width: 385px;
    height: 135px;
    background: #FFF8EE;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.menu-edit {
    width: 100%;
}
.menu-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #A0725F;
    position: relative;
    left: 10px;
}
.menu-price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #A0725F;
    position: relative;
    left: 10px;
}
.menu-pic-edit {
    width: 120px;
    right: 5px;
    position: relative;
}
.menu-pic {
    width: 120px;
    height: 120px;
    border-radius: 20px;
}
.gap {
    height: 17px;
}